/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three boxes per row */
    gap: 20px; /* Adjust the gap between boxes as needed */
    align-items: start;
    justify-content: center;
    margin-top: 20px;
}
  
.selection {
    position: relative;
    cursor: pointer;
    max-width: 300px; /* Adjust max-width as needed */
    margin-bottom: 20px; /* Adjust the margin between rows as needed */
    overflow: hidden; /* Hide overflow content if necessary */
    border: 2px solid white;
    box-sizing: border-box;
    text-align: center;
}

.selection img {
    width: 100%; /* Ensure the image takes full width of the container */
}
  
.image-container {
    position: relative;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    overflow: hidden;
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width */
    text-align: center; /* Center-align text */
}
  
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}
  
.info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    padding-bottom: 5px;
}
  
.construction-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
  
.construction-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}
  